form {
    width:300px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

form input {
    font-family: "dosis";
    font-size: 20px;
    height:40px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline:none;
    box-shadow: 0px 0px black;
    transition:0.3s;
}

form input:hover {
    box-shadow: 2px 2px black;
    transition:0.3s;
}

form input:valid {
    border:2px solid black;
}

form input:invalid {
    border:2px solid red;
}

label {
    margin-top: -30px;
    margin-bottom: 20px;
}

input[type='checkbox']:hover {
    box-shadow: 0px 0px black;
}