.wrap {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -117px;
    margin-top: -64px;
    font-family: "roboto condensed";
}

button {
    font-family: "roboto condensed";    
    background : white;
    padding :20px;
    box-shadow: 0 0 0px 2px black;
    outline:none;
    border-radius:20px;
    border:none;   
    color:#0f0f0f;
    font-size:20px;
    transition:0.4s;
}

button:hover {
    background:bisque;
    transition:0.4s;
}

p {
    font-size:20px;
}